USE [master]
GO
/****** Object:  Database [User_registration_db]    Script Date: 11/18/2025 10:53:54 AM ******/
CREATE DATABASE [User_registration_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'User_registration_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER2022\MSSQL\DATA\User_registration_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'User_registration_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER2022\MSSQL\DATA\User_registration_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [User_registration_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [User_registration_db]
GO
/****** Object:  User [pratikm]    Script Date: 11/18/2025 10:53:55 AM ******/
CREATE USER [pratikm] FOR LOGIN [pratikm] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [pratikm]
GO
/****** Object:  Schema [user_register]    Script Date: 11/18/2025 10:53:55 AM ******/
CREATE SCHEMA [user_register]
GO
USE [User_registration_db]
GO
/****** Object:  Sequence [dbo].[comments_seq]    Script Date: 11/18/2025 10:53:55 AM ******/
CREATE SEQUENCE [dbo].[comments_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [User_registration_db]
GO
/****** Object:  Sequence [dbo].[confirmation_token_seq]    Script Date: 11/18/2025 10:53:55 AM ******/
CREATE SEQUENCE [dbo].[confirmation_token_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [User_registration_db]
GO
/****** Object:  Sequence [dbo].[grievance_forms_seq]    Script Date: 11/18/2025 10:53:55 AM ******/
CREATE SEQUENCE [dbo].[grievance_forms_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [User_registration_db]
GO
/****** Object:  Sequence [dbo].[grs_entity_seq]    Script Date: 11/18/2025 10:53:55 AM ******/
CREATE SEQUENCE [dbo].[grs_entity_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[comments]    Script Date: 11/18/2025 10:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [bigint] NOT NULL,
	[author_role] [varchar](255) NOT NULL,
	[text] [text] NOT NULL,
	[timestamp] [datetime2](6) NOT NULL,
	[form_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[confirmation_token]    Script Date: 11/18/2025 10:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[confirmation_token](
	[token_id] [bigint] NOT NULL,
	[confirmation_token] [varchar](255) NULL,
	[created_date] [datetime2](6) NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grievance_forms]    Script Date: 11/18/2025 10:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grievance_forms](
	[id] [bigint] NOT NULL,
	[category] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[email] [varchar](255) NOT NULL,
	[file_name] [varchar](255) NULL,
	[first_name] [varchar](255) NOT NULL,
	[last_name] [varchar](255) NOT NULL,
	[location] [varchar](255) NOT NULL,
	[phone] [varchar](255) NOT NULL,
	[status] [varchar](255) NULL,
	[user_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grs_entity]    Script Date: 11/18/2025 10:53:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grs_entity](
	[user_id] [bigint] NOT NULL,
	[is_enabled] [bit] NOT NULL,
	[user_email] [varchar](255) NULL,
	[user_name] [varchar](255) NULL,
	[user_password] [varchar](255) NULL,
	[role] [varchar](255) NULL,
	[first_name] [varchar](255) NULL,
	[last_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK80pncrp7qqrdy3enctmhprlnu] FOREIGN KEY([form_id])
REFERENCES [dbo].[grievance_forms] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK80pncrp7qqrdy3enctmhprlnu]
GO
ALTER TABLE [dbo].[confirmation_token]  WITH CHECK ADD  CONSTRAINT [FKppvrwiwwhr6bld92t272n3ts9] FOREIGN KEY([user_id])
REFERENCES [dbo].[grs_entity] ([user_id])
GO
ALTER TABLE [dbo].[confirmation_token] CHECK CONSTRAINT [FKppvrwiwwhr6bld92t272n3ts9]
GO
USE [master]
GO
